{% extends 'accounts/dashboard.html' %}
{% block content%}
<br>
<br>
<br>
<br>
<br>
<div classs='container'>
<h2 class='text-center'>Create an Awesome a new Article</h2>
<div class='container'>
<form class="form-group container" action="{% url  'articles:create' %}" method="post">
{% csrf_token %}
<div class='container'>
<div class='container jumbotron bg-dark text-white text-center'>
<div class='container my-3 p-3'>
{{form.as_p }}
<input type='submit' value='Create'>
</div>
</div>
<div>
</form>
</div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
{% endblock %} 